[submodule "math"]
	path = math
	url = git@github.com:quboqin/kidomo-math.git

[submodule "user"]
	path = user
	url = git@github.com:quboqin/kidomo-user.git	
	
[submodule "token"]
	path = token
	url = git@github.com:quboqin/kidomo-token.git
	
[submodule "permission"]
	path = permission
	url = git@github.com:quboqin/kidomo-permission.git

[submodule "mailer"]
	path = mailer
	url = git@github.com:quboqin/kidomo-mailer.git
[submodule "task"]
	path = task
	url = git@github.com:quboqin/kidomo-task.git
